<!DOCTYPE html>
<html>
<head>
  <title>TwilioApp</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
=======
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
>>>>>>> 878be3fff2551f9a3538597651ef64f3762b7eee
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
