<% if @movie.errors.any? %>
  <h2>There were errors saving your movie</h2>
  <ul>
    <% @movie.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @movie do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %><br><br>

      <%= f.label :description %>
      <%= f.text_field :description %><br><br>

      <%= f.label :year_released %>
      <%= f.text_field :year_released %><br><br>

      <%= f.label :rating %>
      <%= f.text_field :rating %><br><br>

  <%= f.submit %>
<% end %> 